*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(#87ceeb,#dff6ff);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    text-align:center;
}

h1{
    margin-bottom:15px;
    color:#2e7d32;
}

.info{
    display:flex;
    justify-content:space-around;
    width:600px;
    margin-bottom:10px;
    font-size:18px;
    font-weight:bold;
}

#gameArea{
    width:600px;
    height:400px;
    background:#8bc34a;
    border:5px solid #4e342e;
    position:relative;
    overflow:hidden;
    border-radius:10px;
}

.trator{
    position:absolute;
    width:50px;
    height:50px;
    background:#ff9800;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}

.item{
    position:absolute;
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    cursor:pointer;
    user-select:none;
}

#startBtn{
    margin-top:15px;
    padding:10px 25px;
    font-size:18px;
    border:none;
    border-radius:8px;
    background:#2e7d32;
    color:white;
    cursor:pointer;
}

#startBtn:hover{
    background:#1b5e20;
}

#message{
    margin-top:15px;
    font-size:22px;
    font-weight:bold;
    color:#1b5e20;
}

@media(max-width:650px){
    .info,
    #gameArea{
        width:95vw;
    }
    #gameArea{
        height:350px;
    }
}